{% extends "_base.html" %}

{% load static %}

{% block title %}

    Air

{% endblock title %}

{% block body %}

    <!-- ========================
    page title 
    =========================== -->
    <section class="page-title page-title-layout6 bg-overlay bg-overlay-2 bg-parallax">
        <div class="bg-img"><img src="{% static "product/assets/images/sliders/Home-2.jpg"%}" alt="background"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
                    <h1 class="pagetitle__heading">Enhance safety, efficiency, and passenger experience.</h1>
                    <p class="pagetitle__desc" style='max-width: 100%;'>
                        Athena Telecom is proud to offer advanced telecommunication solutions designed to provide reliable and efficient 
                        connectivity in the sky. 
                        <br>
                        Our comprehensive range of services caters to the unique communication needs of aviation operators, ensuring 
                        seamless connectivity and communication while in flight. 
                        <br>
                        Here are some highlights of our telecommunication solutions in the sky:
                    </p>
                </div><!-- /.col-xl-7 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.page-title -->


    <!-- =========================== 
    Features Carousel
    ============================= -->
    <section class="features-carousel pb-50 bg-gray">
        <div class="bg-img"><img src="{% static "product/assets/images/backgrounds/map.png"%}" alt="background"></div>
        <div class="container">
            <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="slick-carousel"
                data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "arrows": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                <!-- Feature Item #1 -->
                <div class="feature-item">
                    <div class="feature-item__icon">
                    <i class="icon-brick"></i>
                    </div><!-- /.feature-item__icon -->
                    <h4 class="feature-item__title"><a href="http://127.0.0.1:8000/products/detail/aircraft-real-time-tracking-services/">Aircraft Real-Time Tracking:Aircraft Real-Time Tracking</a></h4>
                    <p class="feature-item__desc">
                        Our cutting-edge technology leverages satellite systems to provide real-time monitoring of aircraft worldwide. 
                        <br>
                        Whether you’re an aviation enthusiast, a concerned family member, or a professional in the aviation industry, 
                        our online tracking platform offers unparalleled accuracy, coverage, and convenience.
                    </p>
                    <a href="http://127.0.0.1:8000/products/detail/aircraft-real-time-tracking-services/" class="btn btn__secondary btn__link">
                        <i class="icon-arrow-right1"></i>
                        <span>Read More</span>
                    </a>
                </div><!-- /.portfolio-item -->
                <!-- Feature Item #2 -->
                <div class="feature-item" style='height:678px'>
                    <div class="feature-item__icon">
                    <i class="icon-floor-plan"></i>
                    </div><!-- /.feature-item__icon -->
                    <h4 class="feature-item__title"><a href="#">In-Flight Connectivity</a></h4>
                    <p class="feature-item__desc">
                        We provide in-flight connectivity solutions that enable passengers and crew members to stay connected during the 
                        flight. 
                        <br>
                        Our solutions utilize advanced satellite technology and onboard systems to deliver high-speed internet access, 
                        allowing passengers to browse the web, access emails, and stay connected with their digital lives while in the sky.
                    </p>
                </div><!-- /.portfolio-item -->
                <!-- Feature Item #3 -->
                <div class="feature-item" style='height:678px'>
                    <div class="feature-item__icon">
                    <i class="icon-high-visibility"></i>
                    </div><!-- /.feature-item__icon -->
                    <h4 class="feature-item__title"><a href="#">Voice Communication</a></h4>
                    <p class="feature-item__desc">
                        Our telecommunication solutions include voice services that enable clear and reliable communication in-flight. 
                        <br>
                        Whether it’s for passengers to make calls or for crew members to communicate with each other or with ground 
                        personnel, our voice communication solutions ensure seamless and secure connectivity.
                    </p>
                </div><!-- /.portfolio-item -->
            </div><!-- /.col-lg-12 -->
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="slick-carousel"
                data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "arrows": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                    <!-- Feature Item #1 -->
                    <div class="feature-item" style='height:641px'>
                        <div class="feature-item__icon">
                        <i class="icon-brick"></i>
                        </div><!-- /.feature-item__icon -->
                        <h4 class="feature-item__title"><a href="#">Data Services</a></h4>
                        <p class="feature-item__desc">
                            We offer a range of data services for aviation operators, including real-time data transfer, 
                            cloud-based applications, and secure network connections. 
                            <br>
                            These services facilitate efficient data exchange, enabling flight operations, crew management, and passenger 
                            services to run smoothly and effectively.
                        </p>
                    </div><!-- /.portfolio-item -->
                    <!-- Feature Item #2 -->
                    <div class="feature-item">
                        <div class="feature-item__icon">
                        <i class="icon-floor-plan"></i>
                        </div><!-- /.feature-item__icon -->
                        <h4 class="feature-item__title"><a href="#">Connectivity Management</a></h4>
                        <p class="feature-item__desc">
                            We provide comprehensive connectivity management solutions for aviation operators, ensuring optimal utilization of 
                            bandwidth, network performance, and service quality. 
                            <br>
                            Our connectivity management systems monitor and optimize network resources to deliver a seamless and consistent 
                            connectivity experience for passengers and crew.
                        </p>
                    </div><!-- /.portfolio-item -->
                    <!-- Feature Item #3 -->
                    <div class="feature-item" style='height:641px'>
                        <div class="feature-item__icon">
                        <i class="icon-high-visibility"></i>
                        </div><!-- /.feature-item__icon -->
                        <h4 class="feature-item__title"><a href="#">Cabin Entertainment</a></h4>
                        <p class="feature-item__desc">
                            Our telecommunication solutions encompass in-flight entertainment services that provide passengers with a wide 
                            range of entertainment options during their journey. 
                            <br>
                            From on-demand movies and TV shows to live streaming and interactive applications, our cabin entertainment 
                            solutions enhance the passenger experience and offer a personalized inflight entertainment experience.
                        </p>
                    </div><!-- /.portfolio-item -->
            </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.Features Carousel -->

    {% comment %} 
        <!-- =========================
            Banner layout 3
        =========================== -->
        <section class="banner-layout3 bg-overlay bg-overlay-gradient">
            <div class="bg-img">
                <img src="assets/images/banners/4.jpg" alt="banner">
            </div>
            <div class="container">
                <div class="row heading-layout3 heading-light mb-40">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 class="heading__subtitle color-secondary">Bigger, Better, Faster And Stronger Projects.</h2>
                </div><!-- /.col-lg-12 -->
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h3 class="heading__title">Leading Way In Building & Civil Construction!</h3>
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <p class="heading__desc">The world is changing faster than ever before, Eteon constructions are threatened
                    as technology disrupts and software. Yet those embrace change are thriving, building bigger, better,
                    faster & stronger products than ever before, we help you build on your past and prepare future.</p>
                </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <!-- fancybox item #1 -->
                    <div class="fancybox-item">
                    <div class="fancybox-item__icon">
                        <i class="icon-drill"></i>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox-item__content">
                        <h4 class="fancybox-item__title">Professional Staff</h4>
                    </div><!-- /.fancybox-content -->
                    </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <!-- fancybox item #2 -->
                    <div class="fancybox-item">
                    <div class="fancybox-item__icon">
                        <i class="icon-crane1"></i>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox-item__content">
                        <h4 class="fancybox-item__title">100% Satisfaction</h4>
                    </div><!-- /.fancybox-content -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.col-lg-3 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <!-- fancybox item #3 -->
                    <div class="fancybox-item">
                    <div class="fancybox-item__icon">
                        <i class="icon-pipes"></i>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox-item__content">
                        <h4 class="fancybox-item__title">Accurate Testing</h4>
                    </div><!-- /.fancybox-content -->
                    </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <!-- fancybox item #3 -->
                    <div class="fancybox-item">
                    <div class="fancybox-item__icon">
                        <i class="icon-excavator"></i>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox-item__content">
                        <h4 class="fancybox-item__title">Transparent Pricing</h4>
                    </div><!-- /.fancybox-content -->
                    </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.Banner layout 3 -->

        <!-- ==========================
            contact layout 2
        =========================== -->
        <section class="contact-layout2 pt-0 mt--120">
            <div class="container">
                <div class="row contact-panel">
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm">
                    <div class="row">
                        <div class="col-sm-12">
                        <h4 class="contact-panel__title">Get In Touch</h4>
                        <p class="contact-panel__desc mb-40">Complete control over products allows us to ensure our
                            customers receive the best quality prices and service. We take great pride in everything that we
                            do in our factory.</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group"><input type="text" class="form-control" placeholder="Name" id="contact-name"
                            name="contact-name" required></div>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group"><input type="email" class="form-control" placeholder="Email"
                            id="contact-email" name="contact-email" required></div>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group"><input type="text" class="form-control" placeholder="Phone" id="contact-Phone"
                            name="contact-phone" required></div>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <select class="form-control">
                            <option value="0">Select Your Service</option>
                            <option value="1">consulting</option>
                            <option value="2">constructions</option>
                            </select>
                        </div>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Additional Details!" id="contact-messgae"
                            name="contact-messgae" required></textarea>
                        </div>
                        </div><!-- /.col-lg-12 -->
                        <div class="col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" class="btn btn__secondary btn__block ">Submit Request </button>
                        <div class="contact-result"></div>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                    </form>
                </div><!-- /.col-lg-8 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="contact-panel__info bg-secondary">
                    <h4 class="contact-panel__info__title">Contact Info</h4>
                    <div class="contact-panel__block">
                        <h5 class="contact-panel__block__title">Our Location</h5>
                        <ul class="contact-panel__block__list list-unstyled">
                        <li>2307 Beverley Rd Brooklyn, New York 11226 United States.</li>
                        </ul>
                    </div><!-- /.contact-panel__info__block -->
                    <div class="contact-panel__block">
                        <h5 class="contact-panel__block__title">Quick Contact</h5>
                        <ul class="contact-panel__block__list list-unstyled">
                        <li><a href="mailto:Email: Eteon@7oroof.com"></a>Email: Eteon@7oroof.com</li>
                        <li><a href="tel:Email: Eteon@7oroof.com"></a>Call Us: (002) 01061245741</li>
                        </ul>
                    </div><!-- /.contact-panel__info__block -->
                    <div class="contact-panel__block">
                        <h5 class="contact-panel__block__title">Opening Hours</h5>
                        <ul class="contact-panel__block__list list-unstyled">
                        <li>Monday - Friday</li>
                        <li>09:00 AM - 06:00 PM</li>
                        </ul>
                    </div><!-- /.contact-panel__info__block -->
                    <h5 class="contact-panel__block__title">Do You Have Any Questions, Just Contact Us To Get Help!!</h5>
                    <a href="contacs.html" class="btn btn__primary btn__block">Contact Us</a>
                    </div><!-- /.contact-panel__info -->
                </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact layout 2 -->

        <!-- ========================= 
        Testimonials layout 1
        =========================  -->
        <section class="testimonials testimonials-layout1 text-center pt-0">
            <div class="container">
                <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="heading mb-30">
                    <h2 class="heading__subtitle">What Our Clients Say!</h2>
                    </div><!-- /.heading -->
                </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                    <div class="slider-with-navs">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-item">
                        <p class="testimonial-item__desc">My project was a simple & small task, but the persistence and
                        determination turned it into an awesome and great project which make me happy because they help me
                        accelerate my business.
                        </p>
                        <div class="testimonial-item__meta">
                        <h4 class="testimonial-item__meta__title">John Peter</h4>
                        <p class="testimonial-item__meta__desc">7oroof Inc</p>
                        </div><!-- /.testimonial-meta -->
                    </div><!-- /. testimonial-item -->
                    <!-- Testimonial #2 -->
                    <div class="testimonial-item">
                        <p class="testimonial-item__desc">My project was a simple & small task, but the persistence and
                        determination turned it into an awesome and great project which make me happy because they help me
                        accelerate my business.
                        </p>
                        <div class="testimonial-item__meta">
                        <h4 class="testimonial-item__meta__title">Ahmed Abdallah</h4>
                        <p class="testimonial-item__meta__desc">Web Inc</p>
                        </div><!-- /.testimonial-meta -->
                    </div><!-- /. testimonial-item -->
                    <!-- Testimonial #3 -->
                    <div class="testimonial-item">
                        <p class="testimonial-item__desc">My project was a simple & small task, but the persistence and
                        determination turned it into an awesome and great project which make me happy because they help me
                        accelerate my business.
                        </p>
                        <div class="testimonial-item__meta">
                        <h4 class="testimonial-item__meta__title">Ayman</h4>
                        <p class="testimonial-item__meta__desc">7oroof Inc</p>
                        </div><!-- /.testimonial-meta -->
                    </div><!-- /. testimonial-item -->
                    <!-- Testimonial #2 -->
                    <div class="testimonial-item">
                        <p class="testimonial-item__desc">My project was a simple & small task, but the persistence and
                        determination turned it into an awesome and great project which make me happy because they help me
                        accelerate my business.
                        </p>
                        <div class="testimonial-item__meta">
                        <h4 class="testimonial-item__meta__title">John Peter</h4>
                        <p class="testimonial-item__meta__desc">7oroof Inc</p>
                        </div><!-- /.testimonial-meta -->
                    </div><!-- /. testimonial-item -->
                    <!-- Testimonial #3 -->
                    <div class="testimonial-item">
                        <p class="testimonial-item__desc">My project was a simple & small task, but the persistence and
                        determination turned it into an awesome and great project which make me happy because they help me
                        accelerate my business.
                        </p>
                        <div class="testimonial-item__meta">
                        <h4 class="testimonial-item__meta__title">John Peter</h4>
                        <p class="testimonial-item__meta__desc">7oroof Inc</p>
                        </div><!-- /.testimonial-meta -->
                    </div><!-- /. testimonial-item -->
                    </div>
                    <div class="slider-nav">
                    <div class="testimonial-item__thumb">
                        <img src="assets/images/testimonials/thumbs/1.jpg" alt="author thumb">
                    </div><!-- /.testimonial-thumb -->
                    <div class="testimonial-item__thumb">
                        <img src="assets/images/testimonials/thumbs/2.jpg" alt="author thumb">
                        </span><!-- /.testimonial-thumb -->
                    </div>
                    <div class="testimonial-item__thumb">
                        <img src="assets/images/testimonials/thumbs/3.jpg" alt="author thumb">
                    </div><!-- /.testimonial-thumb -->
                    <div class="testimonial-item__thumb">
                        <img src="assets/images/testimonials/thumbs/2.jpg" alt="author thumb">
                        </span><!-- /.testimonial-thumb -->
                    </div>
                    <div class="testimonial-item__thumb">
                        <img src="assets/images/testimonials/thumbs/3.jpg" alt="author thumb">
                    </div><!-- /.testimonial-thumb -->
                    </div><!-- /.slcik-nav -->
                </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.testimonials 1 --> 
    {% endcomment %}


{% endblock body %}