{% load static %}

    <!-- =========================
        Header
    =========================== -->
    <header class="header header-transparent header-layout3">
        <nav class="navbar navbar-expand-lg sticky-navbar">
            <div class="container">
            <a class="navbar-brand" style='line-height:60px;' href="{% url 'pages:home' %}">
                <img src="{% static "product/assets/images/logo/logo-light.jpg"%}" class="logo-light" alt="logo">
                <img src="{% static "product/assets/images/logo/logo-dark.jpg"%}" class="logo-dark" alt="logo">
            </a>
            <button class="navbar-toggler" type="button">
                <span class="menu-lines"><span></span></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavigation">
                <ul class="navbar-nav mx-auto">
                <li class="nav__item with-dropdown">
                    <a href="{% url 'pages:home' %}" class="nav__item-link">Home</a>
                </li><!-- /.nav-item -->
                <li class="nav__item with-dropdown">
                    <a href="{% url 'product:product_list' %}" class="nav__item-link">Services & Products</a>
                </li><!-- /.nav-item -->
                <li class="nav__item with-dropdown">
                    <a href="{% url 'blog:article_list' %}" class=" nav__item-link">Blog</a>
                </li><!-- /.nav-item -->
                <li class="nav__item with-dropdown">
                    <a href="{% url 'pages:oneweb-preorder' %}" class=" nav__item-link">OneWeb Pre-Order</a>
                </li><!-- /.nav-item -->
                <li class="nav__item with-dropdown">
                    <a href="{% url 'pages:about_us' %}" class="nav__item-link">About Us</a>
                </li><!-- /.nav-item -->
                <li class="nav__item">
                    <a href="{% url 'pages:contact_us' %}" class="nav__item-link">Contact Us</a>
                </li><!-- /.nav-item -->
                </ul><!-- /.navbar-nav -->
            </div><!-- /.navbar-collapse -->
            <ul class="header-actions__list list-unstyled d-flex align-items-center mb-0">
                <li>
                <a href="{% url 'cart:cart_details' %}" class="btn btn__white header__btn__sm">Cart {{ cart|length }} Items</a>
                </li>
            </ul><!-- /.actions__list -->
            </div><!-- /.container -->
        </nav><!-- /.navabr -->
    </header><!-- /.Header -->
